body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 8px 8px;
    justify-content: flex-end;
    border: 2px solid black;
    width: 360px;
    height: 740px;
    background-color: rgb(19, 30, 88);

}

#containerBlockDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 76px;
    height: 480px;
    background-color: rgb(36, 33, 194);
    border-radius: 5%;
    gap: 24px;

}

#containerBlockDisplay::selection {
    color: rgb(0, 0, 0);

}

#containerBlockDisplay_data {
    color: aliceblue;
    font-size: 36px;
}

#containerBlock_choice {
    text-align: center;
    color: aliceblue;
    background-color: rgb(36, 33, 194);
    border-radius: 5%;
    font-size: 24px;
    height: 64px;
    margin: 48px 0 24px 0;
}

#containerBlockButton {
    display: flex;
    justify-content: center;
    margin: 24px 0 48px 0;



}

#containerBlock_button {
    width: 350px;
    height: 160px;
    border-radius: 5%;
    color: aliceblue;
    font-size: 48px;
    background-color: rgb(36, 33, 194);


}